*~
.*
#*
.DS_Store

build/linux/fuelcore
build/linux/objs/
build/linux/libroot/

build/macos/libroot/
build/macos/macos.xcodeproj/xcuserdata
build/macos/macos.xcodeproj/project.xcworkspace/xcuserdata
build/macos/fuelcore.dmg
build/macos/macos/libfuel.a
build/macos/macos-src/
build/macos/build/
build/macos/libroot-arm64/
build/macos/libroot-x86_64/

build/win32/fuelcore.exe
build/win32/objs/
build/win32/libroot/
build/win32/dx12headers/

build/win64/fuelcore-64.exe
build/win64/objs/
build/win64/libroot/
build/win64/dx12headers/

build/winarm64/fuelcore-arm64.exe
build/winarm64/objs/
build/winarm64/libroot/
build/winarm64/dx12headers/

build/visualstudio/Release/
build/visualstudio/Debug/
build/visualstudio/x64/
build/visualstudio/visualstudio/
build/visualstudio/libroot/
build/visualstudio/dx12headers/
build/visualstudio/.vs/

build/ios/ios.xcodeproj/project.xcworkspace/xcuserdata
build/ios/ios/libfuel-device.a
build/ios/ios/libfuel-sim.a
build/ios/ios/libfuel.a
build/ios/libroot-device/
build/ios/libroot-sim/
build/ios/objs/
build/ios/libfuel-sim-arm64.a
build/ios/libfuel-sim-x86_64.a
build/ios/libroot-sim-arm64/
build/ios/libroot-sim-x86_64/
build/ios/ios-src/

build/android/android-ndk-r27-darwin.dmg
build/android/android-src/
build/android/libfuel-aarch64.so
build/android/libfuel-armv7a.so
build/android/libfuel-i686.so
build/android/libfuel-x86_64.so
build/android/libroot-aarch64/
build/android/libroot-armv7a/
build/android/libroot-i686/
build/android/libroot-x86_64/
build/android/ndk/

build/cli/fuelc
build/cli/objs

build/posix/fuelcore
build/posix/libroot/
build/posix/objs/

build/wasm/index.html
build/wasm/index.js
build/wasm/index.wasm
build/wasm/libwebp-1.3.2/

build/fbdev/fuel
build/fbdev/libroot/
build/fbdev/objs/

build/lang-cli/fuellang
build/lang-cli/objs

build/fuel-cli/fuel

build/pack-cli/fuelpack
